@font-face {
	font-family: 'Pacifico';
	src: url(/fonts/Pacifico-Regular.ttf);
}

@font-face {
	font-family: 'SonoReg';
	src: url(/fonts/Sono_Proportional-Regular.ttf);
}

@font-face {
	font-family: 'SonoBold';
	src: url(/fonts/Sono_Proportional-Bold.ttf);
}

:root {
	--background: #242124;
	--background-light: #d1c8d1;
	--button: #6495ed;
	--text: #d1c8d1;
	--text-light: #242124;
	--text-link: #a2d2fb;
	--underline: #89929b;
	--header: 'Pacifico';
	--body: 'SonoReg';
}

[data-astro-transition-scope='astro-smooz4hq-1'] {
	view-transition-name: astro-smooz4hq-1;
}

html {
	background-color: var(--background);
	color: var(--text);
}

html.light {
	background-color: var(--background-light);
	color: var(--text-light);
}

body {
	max-width: 800px;
	margin: 0 auto;
	text-align: justify;
}

.navbar {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 0.5rem;
}

.navbar-title {
	font-family: var(--header);
	font-size: 1.4rem;
}

.navbar-title > a,
.navbar-menu > a {
	color: var(--text);
	text-decoration: none;
}

.light .navbar-title > a {
	color: var(--text-light);
}

.navbar-menu {
	font-family: var(--body);
	font-size: 1rem;
	text-align: right;
}

.navbar-menu > a {
	margin: 0 10px;
}

.light .navbar-menu > a {
	color: var(--text-light);
}

a:hover {
	cursor: pointer;
	text-decoration: underline var(--underline);
	text-decoration-thickness: 5px;
	text-underline-offset: 6px;
}

button {
	cursor: pointer;
}

#themeToggle[data-astro-cid-oemx51e4] {
	border: 0;
	background: none;
}

svg:not(:root) {
	overflow-clip-margin: content-box;
	overflow: hidden;
}

.sun[data-astro-cid-oemx5le4],
.light .moon[data-astro-cid-oemx5le4] {
	fill: transparent;
}

.moon[data-astro-cid-oemx5le4] {
	fill: var(--text);
}

.light .sun[data-astro-cid-oemx5le4] {
	fill: var(--text-light);
}

:not(svg) {
	transform-origin: 0px 0px;
}

#themeToggle svg:hover {
	rotate: 10deg;
}

h1 {
	font-size: 2.8rem;
}

h1,
h2 {
	font-family: var(--header);
	font-weight: normal;
}

.badge {
	background-color: #584966;
	color: var(--text);
	border-radius: 10px;
	font-family: var(--body);
	font-weight: 600;
	font-size: 0.8rem;
	padding: 0.3em 0.8em 0.2em;
}

h2 {
	text-decoration: underline var(--underline);
	text-decoration-thickness: 5px;
	text-underline-offset: 6px;
	font-size: 2.1rem;
	margin-bottom: 0;
}

p {
	font-family: var(--body);
	font-size: 1.2rem;
	hyphens: auto;
	line-height: 1.5;
	text-indent: 1rem;
}

.center {
	text-align: center;
}

.light .card__title,
.light .card__txt,
.light .btn,
.light .contactForm button {
	color: var(--text-light);
}

.btn,
.contactForm button {
	text-align: center;
	background: #0000;
	border: 2px solid var(--button);
	border-radius: 8px;
	color: var(--text);
	font: 600 16px var(--body);
	padding: 8px 16px;
	transition: backgroud 0.4s, color 0.4s;
}

.btn:hover,
.contactForm button:hover {
	background: var(--button);
	color: var(--text-light);
}

.light .btn:hover,
.light .contactForm button:hover {
	background: var(--button);
	color: #ffffff;
}

.skills {
	margin-top: 8px;
}

.skills-img {
	margin: 8px 4px;
	width: 50px;
	height: 50px;
}

footer {
	margin: 4rem 0;
	pad: 15px;
}

small {
	font-family: var(--body);
	font-size: 0.7rem;
	font-weight: 400;
}

code {
	display: inline-block;
	background: linear-gradient(66.77deg, #f3cddd 0%, #f5cee7 100%) padding-box,
		linear-gradient(155deg, #d83333 0%, #f041ff 18%, #f5cee7 45%) border-box;
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 6px 8px;
}

.contactForm {
	font-family: var(--body);
	background: var(--background);
	color: var(--text);
	max-width: calc(800px - 4rem);
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 100%;
	border: 2px solid var(--underline);
	border-radius: 12px;
	box-shadow: rgba(231, 216, 216, 0.7) 0px 2px 4px,
		rgba(133, 124, 124, 0.5) 0px 1px 2px;
	transition: box-shadow 0.4s;
}

.light .contactForm {
	background: var(--background-light);
	color: var(--text-light);
}

.contactForm:hover {
	box-shadow: rgba(231, 216, 216, 0.7) 0px 4px 8px,
		rgba(133, 124, 124, 0.5) 0px 3px 6px;
}

.contactForm label {
	font-size: 1.1rem;
}

.contactForm input,
.contactForm textarea {
	padding: 0.7rem 1rem;
	width: calc(100% - 2rem);
	margin-bottom: 1em;
	background-color: var(--background);
	font-family: var(--body);
	color: var(--text);
	font-size: 1rem;
	border: 1px solid var(--underline);
	border-radius: 5px;
	transition: border-color 0.3s, background-color 0.3s;
}

.light .contactForm input,
.light .contactForm textarea {
	background: var(--background-light);
	color: var(--text-light);
}

.contactForm textarea {
	resize: none;
	height: 7rem;
}

.contactForm input:focus,
.contactForm textarea:focus {
	border-color: #000000;
	background-color: #3d353d;
}

.light .contactForm input:focus,
.light .contactForm textarea:focus {
	border-color: #000000;
	background-color: #dad5e2;
}

@media only screen and (max-width: 800px) {
	html {
		width: calc(100% - 10px);
		margin: 0 20px;
	}
}
