@font-face {
	font-family: 'Pacifico';
	src: url(/fonts/Pacifico-Regular.ttf);
}

@font-face {
	font-family: 'SonoReg';
	src: url(/fonts/Sono_Proportional-Regular.ttf);
}

@font-face {
	font-family: 'SonoBold';
	src: url(/fonts/Sono_Proportional-Bold.ttf);
}

html,
body {
	margin: 0;
	width: 100%;
	height: 100%;
	overflow-wrap: anywhere;
}

#background {
	position: fixed;
	object-fit: cover;
	object-position: bottom left;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	filter: blur(0.25em);
	opacity: 0.65;
}

main {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

#about {
	margin: 4vh;
}

h1 {
	font-family: 'Pacifico';
	font-size: 2rem;
	color: black;
	margin-top: 0.25em;
	margin-bottom: 0;
	justify-self: center;
	justify-content: center;
}

h1:hover {
	color: #2e2626;
	rotate: -2deg;
}

.container {
	display: flex;
	flex-direction: row;
}

.profimg {
	display: flex;
	width: 200px;
	height: 200px;
	object-fit: fill;
	object-position: bottom left;
	border-radius: 100%;
}

pre {
	justify-self: center;
	padding-top: 0;
	font-family: 'Pacifico';
	font-size: 1.5rem;
	margin-top: 0;
}

p {
	display: flex;
	font-family: 'SonoReg';
	color: #222425;
	font-size: 1rem;
	margin: 0;
	padding-top: 6vh;
	padding-right: 5rem;
	text-align: justify;
}

bold {
	font-family: 'SonoBold';
	color: #222425;
	font-size: 1rem;
	margin: 0;
}

#links {
	display: flex;
	gap: 16px;
}

#links a {
	display: flex;
	align-items: center;
	padding: 10px 12px;
	color: #111827;
	text-decoration: none;
	transition: color 0.2s;
}

#links a:hover {
	color: rgb(78, 80, 86);
}

#links a svg {
	height: 1em;
	margin-left: 8px;
}

#links a.button {
	color: white;
	background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.12),
		inset 0 -2px 0 rgba(0, 0, 0, 0.24);
	border-radius: 10px;
}

#links a.button:hover {
	color: rgb(230, 230, 230);
	box-shadow: none;
}

h2 {
	margin: 0 0 1em;
	font-weight: normal;
	color: #111827;
	font-size: 20px;
}

code {
	display: inline-block;
	background: linear-gradient(66.77deg, #f3cddd 0%, #f5cee7 100%) padding-box,
		linear-gradient(155deg, #d83333 0%, #f041ff 18%, #f5cee7 45%) border-box;
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 6px 8px;
}

.box {
	padding: 16px;
	background: rgba(255, 255, 255, 1);
	border-radius: 16px;
	border: 1px solid white;
}

#news {
	position: absolute;
	bottom: 16px;
	right: 16px;
	max-width: 300px;
	text-decoration: none;
	transition: background 0.2s;
	backdrop-filter: blur(50px);
}

#news:hover {
	background: rgba(255, 255, 255, 0.55);
}

@media screen and (max-height: 368px) {
	#news {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	#container {
		display: flex;
		flex-direction: column;
	}

	#hero {
		display: block;
		padding-top: 10%;
	}

	#links {
		flex-wrap: wrap;
	}

	#links a.button {
		padding: 14px 18px;
	}

	#news {
		right: 16px;
		left: 16px;
		bottom: 2.5rem;
		max-width: 100%;
	}

	h1 {
		line-height: 1.5;
	}
}
