---
import Layout from '@layouts/Layout.astro';
---

<Layout>
	<main>
		<h1>Posts</h1>
		<p>
			I haven't posted anything recently, but I'll be posting about technology
			and entertainment soon.
		</p>
	</main>
</Layout>
