---
import Layout from '@layouts/Layout.astro';
import Project from '@components/Projects.astro';
---

<Layout>
	<main>
		<h1>Projects</h1>
		<p>
			I am currently working on 4 private projects, which will be published once
			released soon.
		</p>
		<Project />
	</main>
</Layout>
