---
import Layout from '@layouts/Layout.astro';
import ContactForm from '@components/ContactForm.astro';
---

<Layout>
	<main>
		<h1>Contact</h1>
		<p>
			Fill out this form with the corresponding information and send it. I will
			contact you via email as soon as possible.
		</p>
		<ContactForm />
	</main>
</Layout>
