---
import { Image } from 'astro:assets';
---

<main>
	<section id="about">
		<h1>
			MEGO
			<pre>studio</pre>
		</h1>
		<div class="container">
			<div class="parragraph">
				<p>
					Hi, I'm Diego Mejia, a passionate Full-Stack Developer and the founder
					of "Mego Studio", where I work as a freelancer delivering innovative
					digital solutions. I hold a degree from the U.M.S.S.(Universidad Mayor
					de San Simón) and I'm a tech enthusiast.
					<br />
					I pride myself on being proactive, adaptable, good working in team and
					sharing expertise and knowledge. Constantly striving to improve, I embrace
					every opportunity to learn and refine my skills to deliver great results.
				</p>
			</div>
			<div class="profimg">
				<Image
					src="https://i.pinimg.com/736x/2c/d3/34/2cd334d6485e33df20c290c49259faca.jpg"
					alt="Mego profile picture"
					width="400"
					height="400"
					class="profimg"
				/>
			</div>
		</div>
		<!-- <a
			href="https://www.freepik.es/foto-gratis/vista-montana-nevada-abetos-fondo-cielo-azul_20110211.htm#fromView=keyword&page=1&position=20&uuid=f5ec38d9-614d-450b-bb25-bdbcc699e5cb&new_detail=true"
			>Bg I</a
		> -->
	</section>
</main>
