<section id="sectionAbout">
	<h1>Mego Studio</h1>
	<span class="badge">Full-Stack Developer</span>
	<h2>About</h2>
	<p>
		Hi, I'm Diego Mejia, a passionate Full-Stack Developer and the founder of
		"Mego Studio", where I work as a freelancer delivering innovative digital
		solutions. I hold a degree from the U.M.S.S.(Universidad Mayor de San Simón)
		and I'm a tech enthusiast.
	</p>
	<p>
		I pride myself on being proactive, adaptable, good working in team, sharing
		expertise and knowledge. Constantly striving to improve, I embrace every
		opportunity to learn and refine my skills to deliver great results.
	</p>
	<div class="center">
		<a href="/projects">
			<button class="btn">My portfolio</button>
		</a>
	</div>
</section>
