<section id="sectionInterests">
	<h2>Interests</h2>
	<p>
		The world of technology has always caught my attention, but I have not left
		the real world aside. So, in addition to technology, I am interested in
		hiking, camping, anime, art, basketball and other various sports.
	</p>
	<p>
		Currently, I am very interested in continuing with web development and also
		learning 3D design, animation and video game development.
	</p>
</section>
