---
import { Image } from 'astro:assets';
import Discord from '../assets/discord.svg';
import CSS from '../assets/css.svg';
---

<section id="sectionSkills">
	<h2>Skills</h2>
	<div class="skills center">
		<img
			id="gitIcon"
			alt="Git icon in skills section"
			class="skills-img"
			title="Git"
			src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"
		/>
		<img
			id="htmlIcon"
			alt="HTML icon in skills section"
			class="skills-img"
			title="HTML"
			src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"
		/>
		<img
			id="cssIcon"
			alt="CSS Icon in skills section"
			class="skills-img"
			title="CSS"
			src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"
		/>
		<img
			id="javascriptIcon"
			alt="Javascript icon in skills section"
			class="skills-img"
			title="JavaScript"
			src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
		/>
		<img
			id="typescriptIcon"
			alt="Typescript icon in skills section"
			class="skills-img"
			title="TypeScript"
			src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"
		/>
		<img
			id="postgresqlIcon"
			alt="Postgresql icon in skills section"
			class="skills-img"
			title="PostgreSQL"
			src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-original.svg"
		/>
		<img
			id="mongodbIcon"
			alt="Mongodb icon in skills section"
			class="skills-img"
			title="MongoDB"
			src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mongodb/mongodb-original.svg"
		/>
		<img
			id="tailwindIcon"
			alt="Tailwind icon in skills section"
			class="skills-img"
			title="TailwindCSS"
			src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg"
		/>
		<img
			id="astroIcon"
			alt="Astro icon in skills section"
			class="skills-img"
			title="Astro"
			src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/astro/astro-original.svg"
		/>
		<img
			id="reactIcon"
			alt="React icon in skills section"
			class="skills-img"
			title="React"
			src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg"
		/>
		<img
			id="nextjsIcon"
			alt="Nextjs icon in skills section"
			class="skills-img"
			title="NextJS"
			src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nextjs/nextjs-original.svg"
		/>
		<img
			id="csharpIcon"
			alt="Csharp icon in skills section"
			class="skills-img"
			title="C#"
			src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg"
		/>
		<img
			id="dotnetcoreIcon"
			alt="Dotnetcore icon in skills section"
			class="skills-img"
			title=".NET Core"
			src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/dotnetcore/dotnetcore-original.svg"
		/>
		<img
			id="vercelIcon"
			alt="Vercel icon in skills section"
			class="skills-img"
			title="Vercel"
			src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vercel/vercel-original.svg"
		/>
		<img
			id="awsIcon"
			alt="Amazon web services icon in skills section"
			class="skills-img"
			title="AWS"
			src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/amazonwebservices/amazonwebservices-original-wordmark.svg"
		/>
		<img
			id="cloudflareIcon"
			alt="Cloudflare icon in skills section"
			class="skills-img"
			title="Cloudflare"
			src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/cloudflare/cloudflare-original.svg"
		/>
		<img
			id="dockerIcon"
			alt="Docker icon in skills section"
			class="skills-img"
			title="Docker"
			src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-original.svg"
		/>
		<img
			id="gcIcon"
			alt="Google cloud icon in skills section"
			class="skills-img"
			title="Google Cloud"
			src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/googlecloud/googlecloud-original.svg"
		/>
	</div>
</section>
