---
import planetLogo from '../assets/planet.svg';
---

<div id="container">
	<main>
		<section id="hero">
			<img
				src={planetLogo.src}
				width="165"
				height="100"
				alt="Mego's Studio Base Logo"
			/>
			<h1>Bienvenido a Mego Studio</h1>
			<p>
				Mego Studio es una solucion a tus necesidades de tener un espacio propio
				y confiable de acuerdo a tus necesidades y gustos.
			</p>
			<br />
		</section>
	</main>
</div>
