---
import Layout from '@layouts/Layout.astro';
---

<Layout>
	<main>
		<h1>Projects</h1>
		<p>
			I am currently working on 3 private projects, which will be published once
			completed soon.
		</p>
	</main>
</Layout>
