---
import Layout from '@layouts/Layout.astro';
import ContactForm from '@components/ContactForm.astro';
---

<Layout>
	<main>
		<h1>Contacto</h1>
		<p>
			Llena este formulario con la informacion correspondiente y envialo. Me
			pondre en contacto contigo via correo electronico lo mas pronto posible.
		</p>
		<ContactForm />
	</main>
</Layout>
