---
import Layout from '@layouts/Layout.astro';
---

<Layout>
	<main>
		<h1>Publicaciones</h1>
		<p>
			No he publicado nada recientemente, pero pronto publicare sobre tecnologia
			y entretenimiento.
		</p>
	</main>
</Layout>
