---
import Layout from '@layouts/Layout.astro';
---

<Layout>
	<main>
		<h1>Proyectos</h1>
		<p>
			Actualmente estoy trabajando en 4 proyectos privados, los cuales serán
			publicados pronto al ser liberados.
		</p>
	</main>
</Layout>
