---
import '../styles/global.css';
import Navbar from '@components/Navbar.astro';
import Footer from '@components/Footer.astro';
---

<html lang="en" data-astro-transition-scope="astro-smooz4hq-1" class="">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Mego Studio</title>
	</head>
	<body>
		<script src="../scripts/cometRain.js"></script>
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>
